.wrapper {
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(246, 247, 248);
  padding: 20px;
  z-index: 999;
}

.allInputs {
  padding: 20px 10px 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.singleInput {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.singleInput .inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.inputTitle {
  width: 70px;
  white-space: nowrap;
}
.textarea {
  flex: 1;
  min-width: 0;
  height: 80px;
  padding: 3px 5px;
  box-sizing: border-box;
  resize: none;
}
.input,
.textarea {
  border: none !important;
  pointer-events: none;
}
.input.edit,
.textarea.edit {
  border: 1px solid gray !important;
  pointer-events: initial;
}
.singleInput .input {
  flex: 1;
  min-width: 0;
  height: 24px;
  padding: 3px 5px;
  box-sizing: border-box;
}

.multipleInput {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.multipleInput .inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  min-width: 0;
}

.multipleInput .input {
  flex: 1;
  min-width: 0;
  height: 24px;
  padding: 3px 5px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.button {
  width: 120px;
  height: 35px;
  background-color: rgb(17, 115, 212);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}

.button.cancel {
  background-color: #e53935;
}
.button.cancel:hover {
  background-color: #c62828;
}
.singleInput th,
.singleInput td {
  padding: 4px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: initial;
}
.singleInput td {
  padding: 2px 8px;
}
.singleInput table input {
  border: 1px solid gray;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
}
.hideInput {
  opacity: 0;
  pointer-events: none;
}
.tableContainer {
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  max-height: calc(10 * 40px + 45px);
  font-size: 14px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
table th{
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 2;
}
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 25%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 25%;
}
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 10%;
}
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 15%;
}

.table th {
  background: #f5f5f5;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

.table td {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #eee;
}
.table tr:hover td {
  background-color: rgb(250, 250, 250);
}
.type{
  font-weight: bold;
  color:rgb(17, 115, 212)
}
.type.return{
  color: rgb(229, 57, 53)
}