.container {
  width: calc(100% - 250px);
  padding: 40px;
  background-color: rgb(246, 247, 248);
  box-sizing: border-box;
  position: relative;
}
.topContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.searchSelect{
  padding: 5px;
}
.searchContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.searchInput {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.tableContainer {
  overflow-x: auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
table th{
  user-select: none;
}
table .icon{
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  transform: translateY(4px);
}
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 12%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 12%;
}
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 8%;
}
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 8%;
}
.table th:nth-child(5),
.table td:nth-child(5) {
  width: 10%;
}
.table th:nth-child(6),
.table td:nth-child(6) {
  width: 10%;
}
.table th:nth-child(7),
.table td:nth-child(7) {
  width: 10%;
}
.table th:nth-child(8),
.table td:nth-child(8) {
  width: 10%;
}
.table th:nth-child(9),
.table td:nth-child(9) {
  width: 10%;
}
.table th {
  background: #f5f5f5;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

.table td {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #eee;
}
.table tr:hover td {
  background-color: rgb(250, 250, 250);
}

.actions {
  display: flex;
  gap: 10px;
}

.detailBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.detailBtn {
  background: rgb(17, 115, 212);
  color: white;
}
.detailBtn:hover {
  background: rgb(10, 90, 170);
}

.dateContainer {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoContainer{
  display: flex;
  gap: 20px;
}
.infoItem {
  font-size: 20px;
}
.infoItem span{
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

